@import "tailwindcss";
@import "tw-animate-css";
@source "../../../../packages/shared/src";

/* 
  Defines a custom Tailwind variant named `dark`. 
  The rule `(&:is(.dark *))` tells Tailwind that the `dark:` prefix should apply 
  when the styled element (`&`) is any descendant (`*`) of a parent with the `.dark` class.
*/
@custom-variant dark (&:is(.dark *));


@theme inline {
  /* Surfaces */
  --color-background: var(--background); /* body (bg) */
  --color-foreground: var(--foreground); /* body (text) */
  --color-card: var(--card); /* Card (bg), Table (bg) */
  --color-card-foreground: var(--card-foreground); /* Card (text), Table (text) */
  --color-popover: var(--popover); /* DropdownMenu (bg), Tooltip (bg), Select (bg) */
  --color-popover-foreground: var(--popover-foreground); /* DropdownMenu (text), Tooltip (text), Select (text) */

  /* Interactive: Primary Action */
  --color-primary: var(--primary); /* Button-Default (bg), Switch (active bg), Checkbox (checked bg), Slider/Progress (fill) */
  --color-primary-foreground: var(--primary-foreground); /* Button-Default (text) */
  
  /* Interactive: Secondary Action */
  --color-secondary: var(--secondary); /* Button-Secondary (bg), Input (bg), Select (trigger bg) */
  --color-secondary-foreground: var(--secondary-foreground); /* Button-Secondary (text), Input (text), Select (trigger text) */

  /* Interactive: Hover/Focus/Selected State */
  --color-accent: var(--accent); /* DropdownMenu (hovered item bg), Select (hovered item bg), Tabs (active tab bg), Calendar (selected date bg) */
  --color-accent-foreground: var(--accent-foreground); /* DropdownMenu (hovered item text), Select (hovered item text), Tabs (active tab text) */
  
  /* Interactive: Destructive Action */
  --color-destructive: var(--destructive); /* Button-Destructive (bg), Alert-Destructive (icon/border color) */

  /* Informational: De-emphasized Content */
  --color-muted: var(--muted); /* Badge-Outline (bg), Skeleton (bg) */
  --color-muted-foreground: var(--muted-foreground); /* Input (placeholder), Form (description text), Disabled (text), Calendar (date) */

  /* Borders & Outlines */
  --color-border: var(--border); /* Card (border), Button-Outline (border), Table (border) */
  --color-input: var(--input); /* Input (border), Textarea (border), Select (border) */
  --color-ring: var(--ring); /* Focus Ring (all interactive elements) */

  /* Typography */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root { 
  /* Light mode colors */
  --radius: 0.625rem;
  --background: oklch(100% 0.00011 271.152);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: var(--color-blue-300);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    /* Dark mode colors */
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/* @layer = used to segment css code definitions into different layers (theme, base, components, utilities in tailwind, in that order). 
   E.g, if .example class is defined in base layer and then again for some reason in components layer, the components layer class "wins" and rules.*/
@layer base { /* base, second-lowest layer. Order: theme, base, components, utilities */
  * {
    @apply border-border outline-ring/50; /* @apply = custom tw rule, which applies a classnames on all selected elments */
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities { /* utilities = highest ranking layer */
  .show-on-scroll {
    animation: show-on-scroll ease-in-out;
    animation-timeline: scroll();
  }
  
  @keyframes show-on-scroll {
    from {
      border-bottom-color: transparent;
    }
    1%, 100% {
      border-bottom-color: var(--border);
    }
  }
}

/* @keyframes test {
  0%,100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1300);
  }
}

.test-animation {
  animation: test ease-in-out;
  animation-timeline: scroll();
} */
