@import "tailwindcss";
@import "tw-animate-css";
@source "../../../../packages/shared/src";

@custom-variant dark (&:is(.dark *)); /* Defines a custom dark: variant and when that dark: variant is true. It's true if its any element (*) with a parent that has the .dark class on it */ 


/* Foreground colors are primarily used for text color. Without the foreground suffix colors are mostly used in bg colors or other parts of special elements */
@theme inline { /* @theme inline = tailwind custom @rule used to make available all the custom theme classes */
  --color-background: var(--background); /* Default background-color starting and descending from body */
  --color-foreground: var(--foreground); /* Default text-color starting and descending from body */ 
  --font-sans: var(--font-geist-sans); /* Overwrites the --font-sans variable defined in tailwinds index.css (and there also set to be the default font) with the --font-geist-sans created in root layout.tsx by nextjs */
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring); /* The default color added to each element's outline color */
  --color-input: var(--input); /* Used in various forms and places: bg color of inputs, or border colors, all with /** opaciticy modifications  */
  --color-border: var(--border); /* The default color added to each element's border-color property */
  --color-destructive: var(--destructive); /* Used in text and bg colors */
  --color-accent-foreground: var(--accent-foreground); /* Important!: Used in text colors of most components. Especially in their default or primary variants. */
  --color-accent: var(--accent); /* Important!: Used in bg colors of most components. Especially in their default or primary variants. */
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root { /* Defines the custom properties (colors) for the default/light theme  */
  --radius: 0.625rem;
  --background: oklch(100% 0.00011 271.152);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: var(--color-blue-300);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark { /* Defines the same custom properties (colors) but for the dark theme. This .dark class will be added to :root/html element and overwrite the :root/default/light mode variable color values with dark alternatives  */
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/* @layer = used to segment css code definitions into different layers (theme, base, components, utilities in tailwind, in that order). 
   E.g, if .example class is defined in base layer and then again for some reason in components layer, the components layer class "wins" and rules.*/
@layer base { /* base, second-lowest layer. Order: theme, base, components, utilities */
  * {
    @apply border-border outline-ring/50; /* @apply = custom tw rule, which applies a classnames on all selected elments */
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities { /* utilities = highest ranking layer */
  .show-on-scroll {
    animation: show-on-scroll ease-in-out;
    animation-timeline: scroll();
  }
  
  @keyframes show-on-scroll {
    from {
      border-bottom-color: transparent;
    }
    1%, 100% {
      border-bottom-color: var(--border);
    }
  }
}

/* @keyframes test {
  0%,100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1300);
  }
}

.test-animation {
  animation: test ease-in-out;
  animation-timeline: scroll();
} */
